<!DOCTYPE html>
<html lang="en">

<head>
    <!-- MI ESTILO -->
    <link rel="stylesheet" href="./CSS/styles.css">
    <link rel="stylesheet" href="./CSS/home.css">

    <!-- Fuentes Google -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

    <!-- Iconos Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Mercado Liebre - Home</title>
</head>

<body>
    <header class="header">
        <div class="container-header">

            <div class="header-top-bar">
                <!-- Logo -->
                <div class="logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo del Sitio">
                </div>                

                <!-- Barra de Busqueda -->
                <div class="search-bar">
                    <input type="text" placeholder="Buscar Productos, marcas..." name="buscar">
                    <div class="bg-contain-icon-lupa">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>

            </div>

            <!-- Mensaje de Cuotas Y Creditos -->
            <div class="mjs-credits">
                <h4>
                    <i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito
                </h4>
            </div>
        </div>
        <!-- Boton Hamburguesa  -->
        <div class="btn_hamburger">
            <i class="fas fa-bars colorfuentehamburge"></i>
        </div>

        <!-- Barra de Nevegacion NAV -->
        <nav class="main-navbar">
            <!-- Barra Opciones (Menu) -->
            <ul class="menu-left">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <!-- Barra de Login -->
            <ul class="menu-right">
                <li><a href="#">Crea tu Cuenta</a><i class="fa-solid fa-address-card"></i></li>
                <li><a href="#">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>


    </header>

    <main class="main">

        <img class="banner-oferta" src="images/img-home-banner.jpg" alt="banner oferta fiestas">

        <h3 class="titulares">Basado en tu ultima visita</h3>

        <section class="section-product">
            <article class="articles">
                <div>
                    <img width="200" src="/images/img-cafetera-moulinex.jpg" alt="Imagen de Cafetera">
                </div>
                <div class="items_description">
                    <i class="fa-solid fa-truck-fast bg-icon"></i>
                    <div class="container-price">
                        <p class="precio">$6.770 </p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <p><b>Cafetera Moulinex</b></p>
                </div>
            </article>

            <article>
                <div>
                    <img width="200" src="/images/img-macbook-pro-2019.jpg" alt="Imagen de Macbook">

                </div>
                <div class="items_description">
                    <i class="fa-solid fa-truck-fast bg-icon"></i>
                    <div class="container-price">
                        <p class="precio">$230.000 </p>
                        <p class="descuento">20% OFF</p>
                    </div>
                    <p><b>Macbook Pro 2019</b></p>
                </div>


            </article>
            <article>
                <div>
                    <img width="200" src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung galaxy">
                </div>
                <div class="items_description">
                    <i class="fa-solid fa-truck-fast bg-icon"></i>
                    <div class="container-price">
                        <p class="precio">$70.500 </p>
                        <p class="descuento">10% OFF</p>
                    </div>
                    <p><b>Samsung Galaxy S10</b></p>
                </div>
            </article>
            <article>
                <div>
                    <img width="200" src="/images/img-tv-samsung-smart.jpg" alt="Imagen de SmartTv">
                </div>
                <div class="items_description">
                    <i class="fa-solid fa-truck-fast bg-icon"></i>
                    <div class="container-price">
                        <p class="precio">$23.200 </p>
                        <p class="descuento">5% OFF</p>
                    </div>
                    <p><b>SmartTv 43"</b></p>
                </div>
            </article>
        </section>

        <h3 class="titulares">Seccion de Ofertas</h3>

        <section class="section-product">

            <article class="articles">
                <div>
                    <img width="200" src="/images/img-cafetera-moulinex.jpg" alt="Imagen de Cafetera">
                </div>
                <div class="items_description">
                    <i class="fa-solid fa-truck-fast bg-icon"></i>
                    <p class="precio">$6.770 </p>
                    <p class="descuento">40% OFF</p>
                    <p><b>Cafetera Moulinex</b></p>
                </div>
            </article>

            <article>
                <div>
                    <img width="200" src="/images/img-macbook-pro-2019.jpg" alt="Imagen de Macbook">

                </div>
                <div class="items_description">
                    <i class="fa-solid fa-truck-fast bg-icon"></i>
                    <p class="precio">$230.000 </p>
                    <p class="descuento">20% OFF</p>
                    <p><b>Macbook Pro 2019</b></p>
                </div>


            </article>
            <article>
                <div>
                    <img width="200" src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung galaxy">
                </div>
                <div class="items_description">
                    <i class="fa-solid fa-truck-fast bg-icon"></i>
                    <p class="precio">$70.500 </p>
                    <p class="descuento">10% OFF</p>
                    <p><b>Samsung Galaxy S10</b></p>
                </div>


            </article>
            <article>
                <div>
                    <img width="200" src="/images/img-tv-samsung-smart.jpg" alt="Imagen de SmartTv">
                </div>
                <div class="items_description">
                    <i class="fa-solid fa-truck-fast bg-icon"></i>
                    <p class="precio">$23.200 </p>
                    <p class="descuento">5% OFF</p>
                    <p><b>SmartTv 43"</b></p>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <section class="Contain-info-footer">
            <article>
                <i class="fa-solid fa-credit-card fa-2xl" style="color: #0a74e6;"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <i class="fa-solid fa-gift fa-2xl" style="color: #055df5;"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fa-solid fa-user-shield fa-2xl" style="color: #045df6;"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
            <div>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </section>
    </footer>
</body>

</html>