<!DOCTYPE html>
<html lang="en">

<head>
    <!-- MI ESTILO -->
    <link rel="stylesheet" href="./CSS/styles.css">
    <link rel="stylesheet" href="./CSS/login.css">

    <!-- Fuentes Google -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

    <!-- Iconos Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Mercado Liebre - Login</title>
</head>

<body>
    <header class="header">
        <div class="container-header">

            <div class="header-top-bar">
                <!-- Logo -->
                <div class="logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo del Sitio">
                </div>

                <!-- Barra de Busqueda -->
                <div class="search-bar">
                    <input type="text" placeholder="Buscar Productos, marcas..." name="buscar">
                    <div class="bg-contain-icon-lupa">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>

            </div>

            <!-- Mensaje de Cuotas Y Creditos -->
            <div class="mjs-credits">
                <h4>
                    <i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito
                </h4>
            </div>
        </div>
        <!-- Boton Hamburguesa  -->
        <div class="btn_hamburger">
            <i class="fas fa-bars colorfuentehamburge"></i>
        </div>

        <!-- Barra de Nevegacion NAV -->
        <nav class="main-navbar">
            <!-- Barra Opciones (Menu) -->
            <ul class="menu-left">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <!-- Barra de Login -->
            <ul class="menu-right">
                <li><a href="/register">Crea tu Cuenta</a><i class="fa-solid fa-address-card"></i></li>
                <li><a href="/login">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="logo-login"></div>
            <form action="/" method="post">
                <div class="container-usu-psw">
                    <h4>Ingrese el Usuario</h4>
                    <input type="text" name="usu" id="usu">
                    <h4>Ingrese Password</h4>
                    <input type="text" name="psw" id="psw">
                </div>
                <div>
                    <div class="btn-sub-res">
                        <button type="submit">Ingrear</button>
                        <button type="reset">Borrar</button>
                    </div>
                </div>
            </form>
        </div>

    </main>

    <footer>
        <section class="Contain-info-footer">
            <article class="footer-article">
                <i class="fa-solid fa-credit-card fa-2xl"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <i class="fa-solid fa-gift fa-2xl"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fa-solid fa-user-shield fa-2xl"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </section>
        <div class="derecho-marca-ML">
            <div>
                <h3>Copyright © 1999-2023 MercadoLiebre S.R.L.</h3>
            </div>
        </div>
    </footer>
</body>

</html>