<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/register.css">
    <title>Document</title>
</head>
<body>
    <header>

    </header>

    <main>
        <form action="">
            <p>                
                <input type="text" name="nomyape" placeholder="Nombre y apellido">
            </p>
            <p>
                
                <input type="text" name="usuario" placeholder="Usuario">
            </p>
            <p>                
                <input type="email" name="email" placeholder="mac@mercadoliebre.com">
            </p>
            <p>
                <label for="">Fecha de Nacimiento</label> <br>
                <input type="date" name="date">
            </p>
            <p>                
                <input type="text" name="Domicilio" placeholder="Domicilio">
            </p>
            <p>
                <label for="">Perfil de Usuario :</label>
                <br>
                <label for="comprar">Comprar</label>
                <input type="radio" value="comprar" name="perfil" id="comprar">
                <br>
                <label for="vender">Vender</label>
                <input type="radio" value="vender" name="perfil" id="vender">
            </p>
            <p>
                <label>Categoria de Interes</label> <br>
                <input type="checkbox" name="categoria" value="electro"> Electro <br>
                <input type="checkbox" name="categoria" value="moda"> Moda <br>
                <input type="checkbox" name="categoria" value="hogar"> Hogar <br>
                <input type="checkbox" name="categoria" value="jugueteria"> Jugueteria <br>
                <input type="checkbox" name="categoria" value="vida sana"> Vida Sana <br>
            </p>
            <p>
                <label for="">Foto de Usuario :</label> <br>
                <input type="file" accept=".jpg, .png" name="foto">
            </p>
            <p>
                <label for="">Contraseña :</label>
                <input type="password" name="password">
            </p>
            <p>
                <label for="">Confirmar Contraseña</label>
                <input type="password" name="password2">
            </p>
            <p>
                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>
            </p>
        </form>
        
    </main>

    <footer>

    </footer>
</body>
</html>