:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris_oscuro: #666;
    --Gris_claro: #ebebeb;
    --Verde: #39b54a;
    --primary-100:#FFC107;
    --primary-200:#dda400;
    --primary-300:#916400;
    --accent-100:#FF9800;
    --accent-200:#8f3d00;
    --text-100:#000000;
    --text-200:#929090;    
    --bg-200:#dfbf16;
    --bg-300:#b49900;
}

/*  *********  MAIN  ************ */

.main {
    width: 90%;    
    background-color: #ebebeb;
    padding-bottom: 20px;
}

.section-product {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.main article {
    margin: 25px;    
}

.items_description {
    background-color: white;
    padding: 10px;
    display: none;
    position: relative;
}

.items_description i:hover {
    transform: rotate(-90deg);
    transition: 0.5s;
}

.bg-icon {
    width: 30px;
    height: 30px;
    border: solid 1px #39b54a;
    color: #39b54a;
    font-size: 16px;
    background-color: #FFF;
    padding: 5px;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: 20px;
    top: -15px;
}

.titulares {
    font-size: 24px;    
    align-items: center;
    margin: 10px;
}

.container-price {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 5px;   
}

.precio {
    flex-grow: 0.30;
    font-size: 18px;
    font-weight: bold;
}

.descuento {
    flex-grow: 0.70;
    color: #39b54a;
    font-weight: bold;
}

.prod-descripcion {   
    visibility: hidden;     
    padding: 5px;  
    font-size: 14px;
    color: white;
    text-align: center;
    font-weight: bold;
    border: solid 1px black;
    background-color: red; 
}

.banner-oferta{
    width: 100%;
    margin: auto;
}

/* MEDIA TABLET 493px */
@media (min-width: 493px) {
    .items_description {
        display: block;
    }

    main article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);        
    }   
    
    .section-product {
        flex-flow: row wrap;
        
    }
    .section-product article:hover {         
        box-shadow: 10px 15px 10px rgb(100, 100, 100) ;         
    }

    .section-product article:hover .prod-descripcion{    
        visibility: visible;               
    }
    
    
}

/* MEDIA DESKTOP 769px */
@media (min-width: 769px) {
    /* main article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }    */
}