*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris_oscuro: #666;
    --Gris_claro: #ebebeb;
    --Verde: #39b54a;
    --primary-100:#FFC107;
    --primary-200:#dda400;
    --primary-300:#916400;
    --accent-100:#FF9800;
    --accent-200:#8f3d00;
    --text-100:#000000;
    --text-200:#929090;
    --bg-100:#EAC926;
    --bg-200:#dfbf16;
    --bg-300:#b49900;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;     
}


main{
    width: 90%;    
    font-size: 14px;
    font-family: 'roboto' ;
    /* background-color:#757575; */
    /* background-color: #929090; */
    padding: 10px 0;
    margin: auto;
}

.container {
    max-width: 650px;    
    margin: auto;
}

form{
    background-color: var(--Amarillo);    
    width: 88%;    
    margin: auto;    
    padding: 0px;
    border: solid 3px white;
}

form input[type=text], input[type=email], input[type=date], input[type=password] {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    border: solid 2px #FF9800;    
    border-radius: 5px;
    width: 200px;
    height: 30px;
    margin: 10px;
    padding: 0 0 0 5px;
}

form h2 {
    margin: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}

form h3{
    margin: 7px;
    color: white;
    font-weight: bold;
}

form button{
    width: 120px;
    height: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
    background-color: white;
    border: solid 2px #FF9800;
}

.divisor{
    margin: 10px;
}

  
.usuario-perfil{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: row;  
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;  
    padding: 10px; 
    border: solid 2px #FF9800;    
    background-color: white;
    max-width: 470px;
}

form input:checked{
    
    background: #FF9800;
}

.usuario-interes{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    gap:6px;
    padding: 10px;
    border: solid 2px #FF9800;    
    background-color: white;    
    max-width: 470px;
    
}

.usuario-file{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    gap:6px;
    padding: 10px;
    border: solid 2px #FF9800;    
    background-color: white;    
    max-width: 470px;
}

.btn-sub-res{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button[type=submit]:hover, button[type=reset]:hover {
    background-color: #FF9800;
    border: solid 2px white;
    color: white;
}
   

