* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris_oscuro: #666;
    --Gris_claro: #ebebeb;
    --Verde: #39b54a;
    --primary-100:#FFC107;
    --primary-200:#dda400;
    --primary-300:#916400;
    --accent-100:#FF9800;
    --accent-200:#8f3d00;
    --text-100:#000000;
    --text-200:#929090;
    --bg-100:#EAC926;
    --bg-200:#dfbf16;
    --bg-300:#b49900;
    --Rojo-img-foot:#FF0000;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px; 
}

.header {
    width: 90%;
    background-color: #EAC926;
    padding: 10px;
}

.container-header{    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;

}

.header-top-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
    gap: 20px;
    padding-bottom: 10px;
}

.logo {
    width: 50%;
    text-align:left;
}

.logo img {
    width: 200px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.search-bar input {
    height: 25px;
    width: 125px;
}

.msj-credits {
    font-weight: 400;
    text-align: center;
    
}

.bg-contain-icon-lupa {
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    border: solid 1px black;
    background-color: rgb(236, 234, 234);
    border-radius: 5px;
    padding: 5px;
    max-width: 30px;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style-type: none;
}

.main-navbar a {
    text-decoration: none;
    display: inline-block;
    color: #666;
    padding: 5px 5px;
}

.btn_hamburger {
    background-color: #03264C;
    color: white;
    font-size: 18px;
    margin: auto;
    display: block;
    text-align: center;
    max-width: 40px;
    padding: 10px 0;
    border-radius: 8px;
}
/* MAIN */


/* ********************  FOOTER  ********************** */
.Contain-info-footer {
    margin: 20px 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.Contain-info-footer article {
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}

.Contain-info-footer i {
    font-size: 2em;
    margin-bottom: 15px;
}

footer i{    
    color: #0a74e6;    
}

footer article:hover i {
    color: #FF0000;
}

.Contain-info-footer h3 {    
    margin: 10px;
}

.derecho-marca-ML{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;    
}


/* MEDIA TABLET 509px */
@media (min-width: 509px) {   
    
    .main-navbar {
        display: flex;
        justify-content: space-between; 
        align-items: center;      
        font-weight: bold; 
    }

    .menu-left{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;         
        flex-grow: 0.3;     
    }

    .menu-right{
        display: flex;
        align-items: flex-end;
        justify-content: space-around; 
        flex-grow: 0.3;     
    }

    .btn_hamburger {
        display: none;
    }
}

/* MEDIA DESKTOP 705px */
@media (min-width: 705px){
    .container-header{    
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        margin-bottom: 10px;
    }   
    .header-top-bar{
        justify-content: space-between;       	    
    }

    .Contain-info-footer {       
        display: flex;
        flex-direction: row;
        align-items: center;       
    }

   
}

/* MEDIA DESKTOP 800x */
@media (min-width: 800px) {         
    
    .search-bar input {
        width: 175px;
    }

    .header-top-bar{
        gap: 30px;       	    
    }
}

/* MEDIA DESKTOP 990px */
@media(min-width: 990px){
    .header-top-bar{
        gap: 50px;       	    
    }
    .search-bar input {
        width: 250px;
    }

}