* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris_oscuro: #666;
    --Gris_claro: #ebebeb;
    --Verde: #39b54a;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.header {        
    width: 90%;
    background-color: #EAC926;
    padding: 20px;
}
.logo{
    width: 150px;
}

.msj-credits{
    font-weight: 400;
    text-align: center;
}

.bg-contain-icon-lupa {    
    text-align: center;
    font-size: 14px;
    background-color: rgb(236, 234, 234);
    border-radius: 5px;
    padding: 5px;
    max-width: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.main-navbar{
    display: none;
}

.main-navbar ul {
    list-style-type: none;
}

.main-navbar a {
        text-decoration: none;
        display: inline-block;
        color:#666;
        padding: 5px 0;
}

.btn_hamburger {
    background-color:#03264C;
    color: white;
    font-size: 18px;
    margin: auto;
    display: block;
    text-align: center;
    max-width: 40px;
    padding: 10px 0;
    border-radius: 8px;
}
/*  MAIN  */
 .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;    
    background-color: #ebebeb;
}

 .main article{
    margin: 10px;
 }


.items_description {
    background-color: white;
    /* border-top: 1px;
    border-color: #ebebeb;
    border-style: solid; */
    padding: 10px;
    display: none;
}

.bg-icon{
    width: 40px;
    border: solid 1px #39b54a;
    color: #39b54a;
    padding: 12px;
    border-radius: 50%;
    margin: 5px 0;    
}

.nombreproducto {
    align-self: flex-end;
}

.titulares {
    font-size: 24;
}

.precio {
    font-size: 18px;
    flex-grow: 0.3;
}

.descuento {
    display: flex;
    flex-direction: row;
    color: #39b54a;
    font-weight: bold;
    margin-bottom: 15px;
}

.descuentos {
    font-size: 16px;
    flex-grow: 0.7;

}

.descripciones {
    font-size: 16px;
}

/* FOOTER */
.Contain-info-footer {
    margin: 20px 0; 
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items:center;   
    width: 90%;
}
.Contain-info-footer article{  
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}
.Contain-info-footer i{   
    font-size: 2em;
    margin-bottom: 20px;
}

/* MEDIA TABLET 361px */
@media (min-width: 361px){
    .items_description{
        display: block;   
    }
    main article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .main-navbar{
        display: block;
    }
    .btn_hamburger{
        display: none;
    }
}

/* MEDIA DESKTOP 769px */
@media (min-width: 769px){
    main article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .main-navbar{
        display: block;
    }
    .btn_hamburger{
        display: none;
    }
}